@font-face {
    font-family: "Open Sans";
    src: url("/fonts/OpenSans-Regular-webfont.woff2") format("woff2"), url("/fonts/OpenSans-Regular-webfont.woff") format("woff");
}


body {
    background-color: lightcyan;
    font-family: verdana;
    <!--border:groove;-->
    <!--border-color:red;-->
}

header {
    justify-content: center;
    text-align: center;
    font-size: 10px;
}

main {
    text-align: center;
    min-height: 600px;
}

.container {
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

.sidebar {
    border: 3px solid #187e7a;
    background: #2fb0ac;
    height: 640px;
    display: grid;
    grid-template-rows: 140px 80px 80px 80px 80px 80px 80px;
}

.side_button {
    border: 3px solid #187e7a;
    background: #63dbd7;
    margin: 7%;
    margin-bottom: 0%;
    font-size: 20px;
    padding-top: 15px;
    color: #ff0303;
    cursor: pointer;
}

.search_button {
    border: 3px solid #d6d6d6;
    background: #e7e7e7;
    margin: 7%;
    font-size: 15px;
    color: #187e7a;
    cursor: pointer;
}

.searchbar {
    margin: 7%;
    font-size: 25px;
    padding: 30px;
}

.searchbar input[type=text]{
    font-size: 25px;
    width: 100%;
}

.main_area {
    text-align: left;
    display: grid;
    grid-row-gap: 20px;
}

.document {
    background: white;
    margin-left: 30px;
    margin-right: 30px;
    padding: 20px;
    border: 2px solid black;
}

.tab_results {
    display: grid;
}

.doc {
    background: white;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 25px;
    padding: 40px;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 30% 70%;
    cursor: pointer;
}

.doc img {
    margin-top: -10px;
    width: 100px;
    height: 100px;
    margin-bottom: -20px;
}

.doc div{
    margin-top: -20px;
    margin-bottom: -20px;
}



logo {
    height: 650px;
    border: 3px solid #187e7a;
    text-align: right;
    margin-left: -30px;
}

svg {
    height: 650px;
}

redacted{
    background-color: purple;
    color: gold;
}



img {
    width: 200px;
    height: 200px;
    margin-top: -20px;
    margin-bottom: -20px;
    border: 2px solid black;
}

footer {
    text-align: right;
    margin-right: 3%;
}

@media screen and (max-width: 75em) {
    .searchbar input[type=text] {
        font-size: 15px;
        width: 100%;
    }
}

@media screen and (max-width: 51.5em) {
    footer {
        color: red;
        margin-right: 2%;
    }
}